body {
  padding-top: 50px;
}

.title {
  font-family: 'Unkempt', cursive;
  color: #428bca;
}

.intro {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.introImage {
  width: 200px;
}

.textBlock {
  padding: 10px;
}

.worriesBlock {
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;

  font-size: 32px;
}

.sellBlock {
  padding: 20px;
}
.sellBlockText {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 36px;
}

.exampleLink {
  text-align: right;
  font-size: 14px;
}

.chart {
  height:200px;
  width:200px;
}

#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#tschart {
        margin-left: 40px;
}
#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}
#legend {
  margin: 20px 20px 0px 20px;
}

#graphControl {
  magin: 20px 20px 20px 0px;
}

.statNumber {
  font-size: 36px;
  text-align: center;
}

.policy {
  padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}