body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.chart {
  height:200px;
  width:200px;
}

#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#tschart {
        margin-left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
#legend {
        margin: 0 0 0 10px;
}