<div class="container">

<h3> Code / Deployment </h3>
<a class="btn btn-success" href="http://github.com/c0nrad/caspr"> github.com/caspr </a>
<a href="https://heroku.com/deploy?template=https://github.com/c0nrad/caspr"> <img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy"> </img> </a>

<h3> Need help setting up Content Security Policy? </h3>

I'm happy to help anyone setup CSP on their website. If it takes more than an hour and is a closed source project, rates may apply.

<br />
<a href="https://github.com/c0nrad"> Github </a>
<br />
<a href="mailto:c0nrad@c0nrad.io"> Email </a>

<h3> Hire Me? </h3>

<p> I'm graduting college December 2014, and looking for a fun job. Somewhere between app dev and security. </p>

<a href="mailto:c0nrad@c0nrad.io"> Email </a> <br />
<a href="http://c0nrad.io/resume.pdf"> Resume </a>

<h3> Special Thanks </h3>

<p> Special thanks to <a href="https://github.com/medina"> medina </a> and <a href="https://github.com/jfalken"> jfalken </a> for help and support! </p>

</div>
