
<div class="title" style="padding-top: 70px">
  <div class="container">

    <div class="row">
      <div class="col-md-5" style="vertical-align: middle; height: 100%; padding-top: 175px">
        <div style="font-size: 48px; text-align: center;"> Caspr the friendly CSP Report Aggregator. </div>
      </div>
      <div class="col-md-7">
        <img style="width: 100%" id="introImage" class="animated tada" src="/img/happy.png">
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h2 style="text-align: right"> What is XSS? </h2>
  <p> Cross Site Scripting (XSS), is a class of attacks that allow malicious users to execute scripts on another users behalf. Using XSS attackers can perform actions on behalf of another user, hijack user information/sessions, or deface websites. </p>

  <p> XSS attacks are currently one of the most popular methods for attacking web applications, and are  number 3 on OWAPS Top 10 Most Critical Web Application Security Risks (https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project). </p>

  <p> Until recently, the most common defense against XSS attacks was proper escaping of all untrusted data. Most modern web frameworks escape all data by default, making this a very simple solution. But it is still common for injected data to be displayed without proper escaping. </p>
</div>

<div class="container">
  <h2 style="text-align: right"> What is Content Security Policy? </h2>

  <p> Content Security Policy (CSP) is a new HTTP header for specifying allowed orgins of resources. Normally when a browser loads a web page, it trust everything that it recieves. Before pesky attackers this was just fine. But when attackers perform an XSS attack, the browser see's the injected javascript and assumes it was what the server intended and executes it. </p>

  <p> Content Security Policy is a way to white-list sources of different types of resources. For example you could specify that the browser should only execute javascript if it comes from the webserver in the form on .js files, NOT if it is in any HTML. Pretty much most of the time javascript injected via XSS is embedded into the HTML, so this would effectively stop a very large portion of XSS attacks. </p>

</div>

<div class="container"> 
  <h2 style="text-align: right"> What is Caspr? </h2>

  <p> Caspr is a Content Security Policy report aggregator. It allows website owners to analyze where their Content Security Policy is being violated, and how their policy is holding up over time. </p>

  <ul> 
    <li> Captures and Stores CSP reports </li>
    <li> Publishes an API for viewing CSP reports. </li>
    <li> Displays reports in a nice condensed form. </li>
  </ul>

</div>

<div class="container"> 
  <div class="text-center block sellBlock">
    <div class="row">
      <div class="col-md-6">
        <img src="/img/happy.png">
      </div>
      <div class="col-md-6">
        <div class="sellBlockText">
          <p> Analyzing CSP policies is hard. </p> 
          <p> But Caspr is here to help. </p>
        </div>

        <a class="btn btn-primary btn-lg btn-block" href="/#/p/new"> Get Started! </a>
        <a href="http://caspr.io/#/p/a7f69e075218264105669e43ea44a796ca4b5cfcb4b7a954a3a881232845a916" class="exampleLink"> Example </a>

      </div>
    </div>
  </div>
</div>
