
<div class="title" style="padding-top: 70px">
  <div class="container">

    <div class="row">
      <div class="col-md-5" style="vertical-align: middle; height: 100%; padding-top: 175px">
        <div style="font-size: 48px; text-align: center;"> Caspr the friendly CSP Report Aggregator. </div>
      </div>
      <div class="col-md-7">
        <img style="width: 100%" id="introImage" class="animated tada" src="/img/happy.png">
      </div>
    </div>

  </div>
</div>


<div class="container" style="padding-top: 100px">
<hr>


  <div class="intro">

    <div class="block questionsBlock">
      <div class="row">
        <div class="col-md-4 text-center">
          <img class="introImage" src="/img/sad.png">
        </div>

        <div class="col-md-8">
          <div class="textBlock">
            <p> Do cross site scripting attacks got you feeling down? </p>
            <p> Are those pesky client side injections driving away customers? </p>
            <p> Is that genital rash just not going away? </p>
          </div>
        </div>
      </div>
    </div>

    <div class="worriesBlock text-center bg-primary">
     <p> <strong> Well worry no more! </strong> <small> (although I'd get that rash checked out...) </small> </p>
    </div>

    <div class="block whatBlock">
      <div class="row">
        <div class="col-md-8">
          <div class="textBlock">
            <p> What if I told you that by adding a single header to your website could remove an entire class of vulnerabilities. </p>
            <p> Excited? Great! But pull you pants back up, we got some work to do first. </p>
            <p> We need to generate a policy for your website. A policy is how your website treats internal and external scripts. </p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <img class="introImage" src="/img/shocked.png">
        </div>
      </div>
    </div>


    <div class="text-center block sellBlock">
      <div class="row">
        <div class="col-md-6">
          <img src="/img/happy.png">
        </div>
        <div class="col-md-6">
          <div class="sellBlockText">
            <p> Building a CSP policy is hard. </p> 
            <p> But Caspr is here to help. </p>
          </div>

          <a class="btn btn-primary btn-lg btn-block" href="/#/p/new"> Get Started! </a>
          <a href="http://caspr.io/#/p/a7f69e075218264105669e43ea44a796ca4b5cfcb4b7a954a3a881232845a916" class="exampleLink"> Example </a>

        </div>
      </div>
    </div>

    </div>
  </div>
</div>