<style>
  .intro {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #555;
    -webkit-font-smoothing: antialiased;
  }
</style>


<div class="intro">
  <p> Do cross site scripting attacks got you feeling down? </p>
  <p> Are those pesky client side injections driving away customers? </p>
  <p> Is that genital rash just not going away? </p>

  <p class="lead"> <strong> Well worry no more! </strong> (although I'd get that rash checked out...) </p>

  <hr>

  <p> What if I told you that by adding a single header to your website could remove an entire class of vulnerabilities. </p>

  <p> Excited? Great! But pull you pants back up, we got some work to do first. </p>

  <p> We need to generate a policy for your website. A policy is how your website treats internal and external scripts. </p>

  <p> Building a policy is hard. </p> 

  <p> But Caspr is here to help. </p>

  <a class="btn btn-primary btn-lg" href="/#/p/new"> Get Started! </a>

</div>