


<h1 ng-bind="project.name"> Project Title </h1>
<hr>

<p ng-show="false"> HAI </p>

<div class="bg-info">
  <p> Welcome! Add the following to header to your website! </p>
  <pre>Content-Security-Policy: default-src 'self'; report-uri /endpoint/{{project.hash}}</pre>
</div>


<div id="chart_container">
        <div id="y_axis"></div>
        <div id="tschart"></div>
</div>
<div id="legend"></div>



<p class="well"> <strong> Total: </strong> {{entries.length}} </p>

<table class="table">
  <tr>
    <th> Index </th>
    <th> Date </th>
    <th> Blocked URI </th>
    <th> Document URI </th>
  </tr>

  <tbody ng-repeat="entry in entries">
    <tr ng-click="entry.selected = !entry.selected">
      <td> {{$index + 1}} </td>
      <td> {{entry.ts | date : 'medium'}} </td>
      <td> {{entry.csp_report.blocked_uri}} </td>
      <td> {{entry.csp_report.document_uri}} </td>
    </tr>
    <tr ng-show="entry.selected">
      <td colspan="4"> {{entry}} </td>
    </tr>
  </tbody>

</table>

