
<div class="container">

<h1> Projects </h1>
<a class="btn btn-primary btn-lg" href="/#/p/new"> New Project </a>

<br>
<br> 

<input type="text" ng-model="projectFilter" class="form-control"> 
<table class="table">
	<tr>
		<th> Project </th>
		<th> Number of Reports </th> 
		<th> Date Last Activity </th>
	</tr>
	<tr ng-repeat="project in projects | filter : projectFilter" >
		<td> <a href="/#/p/{{project.hash}}"> {{project.name}} </a> </td>
		<td> {{project.stats.totalReports || 0}} </td>
		<td> {{project.stats.dateLastActivity | date:'short' }} </td>
	</tr>
</div>