<table class="table">

  <tr>
    <th ng-class="{ 'bg-primary': (predicate == 'count') }" ng-click="tableSort('count')"> Count </th>
    <th ng-class="{ 'bg-primary': (predicate == 'latest') }" ng-click="tableSort('latest')"> Last Timestamp </th>
    <th ng-class="{ 'bg-primary': (predicate == 'directive') }" ng-click="tableSort('directive')"> Directive </th>
    <th ng-class="{ 'bg-primary': (predicate == 'csp-report.blocked-uri') }" ng-click="tableSort('csp-report.blocked-uri')"> Blocked URI </th>
    <th ng-class="{ 'bg-primary': (predicate == 'csp-report.document-uri') }" ng-click="tableSort('csp-report.blocked-uri')"> Document URI </th>
    <th> Policy </th>
  </tr>

  <tbody ng-repeat="group in groups | orderBy:predicate:tableReversed">
    <tr ng-click="group.selected=!group.selected">
      <td> {{group.count}} </td>
      <td> {{group.latest | date: 'short'}} </td>
      <td> {{group.directive}} </td>
      <td> <a href="{{group['csp-report']['blocked-uri']}}"> {{urlDisplay(group['csp-report']['blocked-uri'])}} </a> </td>
      <td> <a href="{{group['csp-report']['document-uri']}}"> {{urlDisplay(group['csp-report']['document-uri'])}} </a> </td>
      <td> <a class="btn btn-primary" href="/#/p/{{project._id}}/group/{{group.reportId}}"> Details </button> </td>
    </tr>
    <tr ng-show="group.selected" colspan="5">
      <td colspan="5"> <pre> {{ group['csp-report'] | stringify }} </pre> </td>
    </tr>
  </tbody>
</table>
